<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd">


    <bean class="com.johnxue.common.config.AuthorityConfig">
        <property name="basePackages">
            <list>
                <value>com.izhiqu.controller</value>
            </list>
        </property>
        <property name="destination">
            <!--修改成本地实际存在路径，文件可以不存在，只要根路径存在就行-->
            <value>D:\\api.txt</value>
        </property>
    </bean>

    <bean class="com.johnxue.common.authority.DefaultAuthorityAdapter"/>


    <task:annotation-driven/>
</beans>